/* *{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table{
  border: 2px solid;
}

table,th,tr,td{
  border: 2px solid white;
  border-collapse: collapse;
  padding: 12px;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #002369;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(245, 5, 5);
}

.App-link {
  color: #61dafb;
}

form{
  display: block;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid black;
  color: white;
}

form h1{
  font-size: 30px;
}
input{
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  width: 200px;
}

h1{
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #4bcdf8;
  font-family: Arial, sans-serif;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


form div.error input,
form div.error select {
  border-color: red;
}


form span {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


form input[type="checkbox"] {
  margin-top: 8px;
}


form button[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  margin-left: 400px;
}

/* Submit Button Hover Effect */
form button[type="submit"]:hover {
  background-color:purple;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

form div.full-width {
  grid-column: span 3;
}

