.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #202020;
    color: white;
  }
  
  .header__left {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    font-size: 40px;
    color: red;
    margin-right: 10px;
  }
  
  .header__center {
    display: flex;
    align-items: center;
  }
  
  .header__center input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #121212;
    color: white;
    width: 400px;
  }
  
  .header__searchButton {
    padding: 10px;
    background-color: #303030;
    cursor: pointer;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__icon {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .header__avatar {
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
  